@import "tailwindcss";

@layer base {
  body {
    @apply bg-[#fafafa] dark:bg-[#050505] text-[#111] dark:text-[#eee] antialiased;
    font-family: 'Inter', system-ui, sans-serif;
  }
}

/* Custom scrollbar for a cleaner look */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-300 dark:bg-slate-800 rounded-full;
}